{% extends 'mmpRjpBundle::layoutAdmin.html.twig' %}

{% block headline %}
    Kandydaci z dzielnicy {{ district.name }}
{% endblock %}

{% block content_row %}
    {{ form_start(form) }}

    <h3>Candidates</h3>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Voices</th>
            <th>Age</th>
            <th>Occupation</th>
            <th>Sex</th>
        </thead>
        <tbody>
        {% for candidate in form.candidates %}
            <tr>
                <td>
                    {{ form_widget(candidate.user) }}
                </td>
                <td>{{ form_widget(candidate.votes) }}</td>
                <td>{{ form_widget(candidate.age) }}</td>
                <td>{{ form_widget(candidate.occupation) }}</td>
                <td>{{ form_widget(candidate.sex) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ form_end(form) }}
{% endblock %}