{% extends 'mmpRjpBundle::layout.html.twig' %}
{% set activePage = 'elections' %}

{% block one_page_script %}
    {% javascripts
        '//maps.google.com/maps/api/js?sensor=false'
        '//www.google.com/jsapi'
        '@mmpRjpBundle/Resources/public/js/elections.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block container %}
<script type="text/javascript">
var dataForElection = [];
var chartsDrawFunctions = [];
var polygons = [];
var markers = []
</script>
<div class="container entry elections">
    <div class="row">
        <div class="col-sm-12">
            <div class="white padding">
                <div class="row" role="tabpanel">
                    <div class="col-sm-3">
                        <ul class="nav nav-pills nav-stacked" role="tablist">
                            {% for election in elections %}
                            <li class="{% if loop.first %}active{% endif %}" role="el_{{ election.id }}">
                                <a href="#el_{{ election.id }}" aria-controls="el_{{ election.id }}" role="tab" data-toggle="tab">
                                   {{ election.date | localizeddate('full', 'none', null, null, 'd MMMM Y') }}
                                   <span class="badge" style="float:right;">
                                    {{ election.districts|length }}
                                   </span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            {% for election in elections %}
                            <div style="position:relative" role="tabpanel" class="tab-pane tab-election {% if loop.first %}active{% endif %}" id="el_{{ election.id }}">
                                {% include 'mmpRjpBundle::statsByElections.html.twig' %}
                                <ul class="nav nav-tabs nav-condensed navbar-fixed-top-to-parent" role="tablist">
                                    {% for district in election.districts %}
                                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                                        <a href="#el_{{ election.id }}_{{ district.id }}" aria-controls="el_{{ election.id }}_{{ district.id }}" role="tab" data-toggle="tab">
                                            {{ district.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    <li role="presentation" class="right" style="float:right">
                                        <a href="#el_{{ election.id }}_obwody" aria-controls="el_{{ election.id }}_obwody" role="tab" data-toggle="tab">
                                            Obwody
                                        </a>
                                    </li>
                                    <li role="presentation" class="right" style="float:right">
                                        <a href="#el_{{ election.id }}_stat" aria-controls="el_{{ election.id }}_stat" role="tab" data-toggle="tab">
                                            Statystyka
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    {% for district in election.districts %}
                                    <div role="tabpanel" class="tab-table-election tab-pane {% if loop.first %}active{% endif %}" id="el_{{ election.id }}_{{ district.id }}">
                                        {% include 'mmpRjpBundle::statsByElectionAndDistrict.html.twig' %}
                                        <table class="table table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="th-lp">Lp</th>
                                                    <th class="th-name">Imię</th>
                                                    <th class="th-surname">Nazwisko</th>
                                                    <th class="th-age">Wiek</th>
                                                    <th class="th-occupation">Zawód</th>
                                                    <th class="th-votes">Liczba głosów</th>
                                                    <th class="th-councilor">Radny</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for candidate in district.getCandidatesOnElection(election) %}
                                                    <tr {% if candidate.isCouncilor %}class="success"{% endif %}>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ candidate.user.firstName }}</td>
                                                        <td>{{ candidate.user.lastName }}</td>
                                                        <td>{{ candidate.age }}</td>
                                                        <td>{{ candidate.occupation }}</td>
                                                        <td>{{ candidate.votes }}</td>
                                                        <td>{% if candidate.isCouncilor %}TAK{% else %}NIE{% endif %}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% include 'mmpRjpBundle:Index:ElectionBlocks/whereVote.html.twig' %}
                                    </div>
                                    {% endfor %}
                                    <div role="tabpanel" class="tab-table-election tab-pane" id="el_{{ election.id }}_stat">
                                    </div>
                                    <div role="tabpanel" class="tab-table-election tab-pane" id="el_{{ election.id }}_obwody">
                                        <div class="map"></div>
                                        <script type="text/javascript">
                                        polygons['el_{{ election.id }}_obwody'] = [];
                                        {% for commissionContainer in election.electoralCommissions %}
                                            var coords = [];
                                            {% for point in commissionContainer.electoralCommission.getPolygonArray %}
                                            coords.push(new google.maps.LatLng({{ point.lng }},{{ point.lat }}));
                                            {% endfor %}
                                            if(!polygons['el_{{ election.id }}_obwody'][{{ commissionContainer.district.id }}]) {
                                                polygons['el_{{ election.id }}_obwody'][{{ commissionContainer.district.id }}] = [];
                                            }
                                            polygons['el_{{ election.id }}_obwody'][{{ commissionContainer.district.id }}].push(new google.maps.Polygon({
                                                paths: coords,
                                                strokeColor: '#FF0000',
                                                strokeOpacity: 0.8,
                                                strokeWeight: 0.5,
                                                fillColor: '#FF0000',
                                                fillOpacity: 0.35
                                            }));
                                            {% if commissionContainer.electoralCommission.point %}
                                            markers.push(new google.maps.LatLng( {{ commissionContainer.electoralCommission.point }} ));
                                            {% endif %}
                                        {% endfor %}
                                        </script>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<style type="text/css">
    .map {
        width: 100%;
        height: 400px;
        margin-top: 15px;
    }
</style>
<script type="text/javascript">


function initMap(key) {
    var par = $('#' + key);
    var colors = ['#f1c40f', '#e67e22', '#e74c3c', '#2980b9', '#8e44ad'];
    var map = new google.maps.Map($('.map', par)[0], {
        zoom: 12,
        center: new google.maps.LatLng(50.254892, 19.023782),
        disableDefaultUI: false,
        zoomControl: true,
    });

    for(k in polygons[key]) {
        var polygonsInDistrict = polygons[key][k];
        var i = 0;
        for(district in polygonsInDistrict) {
            var polygon = polygonsInDistrict[district];
            polygon.setOptions({
                fillColor: colors[i],
                strokeColor: colors[i]
            });
            polygon.setMap(map);
            i++;
        }
    }

    for(k in markers) {
        var marker = markers[k];
        new google.maps.Marker({
            position: marker,
            map: map
        });
    }
}

function loadCharts() {
    var keyElection = $('.tab-election.active').attr('id');
    var key = $('.tab-election.active .tab-table-election.active').attr('id');
    if(key.indexOf('obwody') > 0) {
        initMap(key);
        return;
    }
    obj = chartsDrawFunctions[key];
    obj ? obj(keyElection) : null;
}
$('a[role=tab]').on('shown.bs.tab', function (e) {
    loadCharts();
});

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(loadCharts);

</script>
{% endblock %}