{% extends 'mmpRjpBundle::layout.html.twig' %}
{% set activePage = 'meetings' %}

{% block container %}
<div class="container entry meetings">
    <div class="row">
        <div class="col-sm-12">
            <div class="white padding">
                <h1>Spotkania mieszkańców</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Dzielnica</th>
                            <th>Data</th>
                            <th>Miejsce</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td class="avatar">
                                <a href="{{ url('mmp_rjp_district', {'slug': meeting.district.slug }) }}">
                                {% image "@mmpRjpBundle/Resources/public/images/no_avatar.png" %}
                                    {% if meeting.district.getAvatar %}
                                    <img src="/{{ meeting.district.getWebPath }}" class="avatar" />
                                    {% else %}
                                    <img src="{{ asset_url }}" class="avatar" />
                                    {% endif %}
                                {% endimage %} 
                                </a>
                            </td>
                            <td class="td-district">
                                <a href="{{ url('mmp_rjp_district', {'slug': meeting.district.slug }) }}">
                                {{ meeting.district.name }}
                                </a>
                            </td>
                            <td>
                                {{ meeting.date | localizeddate('full', 'none', null, null, 'd MMMM Y') }}<br />
                                {{ meeting.date | localizeddate('full', 'none', null, null, 'HH:mm') }}
                            </td>
                            <td>
                                {{ meeting.place }}
                            </td>
                            <td>
                                {% if meeting.linkFacebook %}
                                    <a href="{{ meeting.linkFacebook }}">Facebook</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock container %}