{% extends 'mmpRjpBundle::layoutAdmin.html.twig' %}

{% block page_header %}
    <div class="container">
        <h2 style="margin-top: 0;">{{ district.name }}</h2>
    </div>
    <ul class="nav nav-tabs">
        <li><a href="{{ path('mmp_rjp_admin_districts') }}">Dzielnice</a></li>
        <li><a href="{{ path('mmp_rjp_admin_districts_add') }}">Dodaj dzielnicę</a></li>
        <li><a href="{{ path('mmp_rjp_admin_district_edit', {'id' : district.id}) }}">Edytuj</a></li>
        <li><a href="{{ path('mmp_rjp_admin_district_delete', {'id' : district.id}) }}">Usuń</a></li>
        <li><a href="{{ path('mmp_rjp_admin_candidates_from_district', { 'id' : district.id }) }}">Kandydaci</a></li>
        <li><a href="{{ path('mmp_rjp_admin_district_streets', { 'id' : district.id }) }}">Ulice</a></li>
        <li class="active"><a href="{{ path('mmp_rjp_admin_meetings_from_district', { 'id' : district.id }) }}">Spotkania</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-12" style="padding:2em">

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Kiedy</th>
                    <th>Gdzie</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                {% for meeting in meetings %}
                    <tr>
                        <td>{{ meeting.id }}</td>
                        <td>{{ meeting.date.format('d.m.Y H:i') }}</td>
                        <td>{{ meeting.place }}, {{ meeting.district.name }}</td>
                        <td>
                            <a href="{{ path('mmp_rjp_admin_meeting_edit', {'id' : meeting.id}) }}">Edytuj</a>
                            <a href="{{ path('mmp_rjp_admin_meeting_delete', {'id' : meeting.id}) }}">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}