<a href="{{ path('mmp_rjp_admin_districts') }}">Dzielnice</a>
<a href="{{ path('mmp_rjp_admin_meetings') }}">Spotkania</a>
<a href="{{ path('mmp_rjp_admin_users') }}">Użytkownicy</a>
<a href="{{ path('mmp_rjp_admin_elections') }}">Wybory</a>
<a href="{{ path('mmp_rjp_admin_candidates') }}">Kandydaci</a>
<a href="{{ path('mmp_rjp_admin_electoral_commissions') }}">Komisje wyborcze</a>
{# <a href="{{ path('mmp_rjp_admin_councilors') }}">Użytkownicy: Radni</a>
<a href="{{ path('mmp_rjp_admin_districts_images') }}">Dzielnice: grafiki</a> #}